/* CORE STYLES */
/*MOBILE FIRST*/

:root {
  --primary-color: #e50914;
  --dark-color: #222;
  --light-color: #f4f4f4;
  --overlay-color: rgba(0, 0, 0, 0.7);
  --gap-small: 22px;
  --gap-smaller: 15px;
  --gap-medium: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url(font/ProximaNova-Regular.otf);
}

body {
  font-family: 'ProximaNova-Regular', sans-serif;
  line-height: 1.4;
  background-color: var(--dark-color);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  vertical-align: baseline;
}

.text-muted {
  color: var(--primary-color);
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 2rem 1rem;
}

.showcase {
  background: var(--overlay-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('../img/interior-of-modern-building-331107.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 2rem;
}

.btn {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: .875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color, background-color, border-color;
  border-radius: 5px;
}


.btn-default {
  background-color: transparent;
  color: #dee0de;
  border: 2px solid #dee0de;
  letter-spacing: 2px;
  font-weight: bold;
}

.btn-default:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

.btn-blue {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 2px solid #dee0de;
  letter-spacing: 2px;
  font-weight: bold;
}

.btn-blue:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc
}

/* ---- Navigation ---- */

.logo a {
  font-size: 1.50em;
  margin: 0;
  color: var(--light-color);
}

.main-header {
  background-color: var(--dark-color);
}

.main-nav {
  margin-top: 5px;
  background-color: var(--dark-color);
  display: none;
}

.main-nav.opening {
  display: block;
  position: absolute;
  z-index: 4;
  width: 100%;
}

.logo a,
.main-nav a {
  text-align: center;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  display: block;
}

.main-nav a {
  font-size: .95em;
  color: var(--light-color);
  text-transform: uppercase;
}

.main-nav a:hover {
 /* border: 1px solid var(--light-color)*/
  border-radius: 5px;
}
*/

/*PARTES MENUS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.site-nav--icon {
  font-size: 1.4em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, .4);
}

.menu-toggle {
  position: absolute;
  padding: 0.8em;
  top: 1em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}

.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open .hamburger::before {
  display: none;
}

.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg);
}
/*PARTES MENUS Fim!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* ---- Layout Containers ---- */

.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
}

/* Section */
.section {
  padding: 2rem 0;
}

/* --Section History */
.section-history {
  background-color: var(--light-color);
  color: rgba(10, 1, 1, 0.6);
  letter-spacing: .02em;
  line-height: 2.2em;
}

.section-history h2 {
  margin: 2rem 0;
  font-size: 1rem;
  color: var(--dark-color);
  text-align: right;
}

.section-history p {
  margin: 1rem 0;
  font-weight: 400;
  font-size: 23px;
  text-align: left;
}

/* --Section Events */
.section-events {
  background-color: var(--light-color);
  color: var(--dark-color);
  letter-spacing: .02em;
  line-height: 2.2em;

}

.section-events h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--dark-color);
  text-align: center;
}

/* --Section Events */
.section-location {
  background-color: var(--light-color);
  color: var(--dark-color);
  letter-spacing: .02em;
  line-height: 2.2em;
}

/* --Section Spotify Login  */
.section-loginSpotify {
  background-color: var(--light-color);
  color: var(--dark-color);
  letter-spacing: .02em;
  line-height: 2.2em;
  height: 100vh;
}

.section-loginSpotify h1 {
  font-size: 1.5rem;
}

/* --Section Spotify PlayList  */
.section-playListSpotify {
  background-color: var(--light-color);
  color: var(--dark-color);
  letter-spacing: .02em;
  line-height: 2.2em;
}

.section-playListSpotify h1 {
  font-size: 2rem;
}

/* Float three columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
  margin-bottom: 1rem;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}

.grid-2 {
  grid-template-columns: 1fr;
}

.center {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

/* Style the counter cards */
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  /*Foi preciso colocar mais pequeno o card*/
}
.card-deck .card {
	margin-bottom: 15px
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer {
  padding: 0.75rem 0;
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
}

.footer span.copyright {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 90%;
  line-height: 40px;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #3677b1;
}

.list-inline {
  padding-left: 0;
  list-style: none
}

.list-inline-item {
  display: inline-block
}

.list-inline-item:not(:last-child) {
  margin-right: .5rem
}

/* FA*/

.fa {
  color: var(--light-color);
}

.fa-facebook {
  color: rgb(59, 91, 152);
}

/*google maps*/
#map {
  width: 100%;
  height: 200px;
  filter: grayscale(100%);
}

.section-c .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 13vw);;
}
.section-c .gallery img,
.section-c .gallery a {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

/* ================================= 
  Media Queries
==================================== */

/*       Width>=769px                     ************ :)      */

@media (min-width: 769px) {
  .main-header {
    width: 90%;
    margin: 0 auto;
  }

  .main-header>.logo {
    font-family: 'Bitter', 'serif';
    font-size: 1.5rem;
  }

  .site-nav>.simple-action {
    margin-right: var(--gap-small);
    font-size: 0.9rem;
  }

  .menu-toggle {
    display: none;
  }
}

/*       Width>=1025px                Full Screen     */
@media (min-width: 1025px) {
  .main-header {
    width: 80%;
    max-width: 1150px;
    padding-left: var(--gap-medium);
    padding-right: var(--gap-medium);
    padding-top: var(--gap-smaller);
  }

  .grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }

  .resp-iframe {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .menu-toggle {
    display: none;
  }

}

/*CARDS MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media (min-width:576px) {
	.card-deck {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin-right: -15px;
		margin-left: -15px
	}
	.card-deck .card {
		-ms-flex: 1 0 0%;
		flex: 1 0 0%;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 15px
	}
}

/*test bootstrap*/

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-img,
.card-img-bottom,
.card-img-top {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%
}

.card-img,
.card-img-top {
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px)
}

.card-text:last-child {
  margin-bottom: 0
}

/*
AJUSTES CSS

->Menu ter os botoes transparentes
->Logotipo Barzinho
->Corrigir movimento do body quando se hover mouse menu

Pequeno ajustes
Menu estar só numa linha quando modo desktop
Visit US fica no meio em vez de estar alinhado a cima
*/

/*
