/* ================================= 
  Media Queries
==================================== */
/*
@media (min-width: 769px) {
    .main-header,
    .main-nav{
      display:flex;
    }
      .main-header{
      flex-direction:column;
      align-items:center;
    }
    .main-nav{
      align-content:flex-end;
    }  
  }
  
  @media (min-width: 1025px) {
    .main-header{
        flex-direction:column;
        justify-content:space-between;
    }
  }
  */
@media (min-width: 769px) {
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .simple-action {
    color: var(--light-color);
    text-decoration: none;
    font-family: "";
    font-family: 'Comfortaa', cursive;
  }
}